<!DOCTYPE html>
<html lang="en-US">
<head>
<link rel="stylesheet" type="text/css" href="Registration.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<body>

    <div id="form-body" ng-app="myApp" ng-controller="formCtrl">
		<h2>Register</h2>
        <form name="myForm" ng-model="myForm">
            First Name*<br/>
            <input type="text" name="firstname" ng-model="user.firstName" required/>
			<span ng-show="myForm.firstname.$touched && myForm.firstname.$invalid">Required.</span> <br /><br/>
            Last Name*<br/>
            <input type="text" name="lastname" ng-model="user.lastName" required/>
			<span ng-show="myForm.lastname.$touched && myForm.lastname.$invalid">Required.</span><br /><br/>
            NPI number*<br/>
			<input type="text" name="npi" ng-model="user.npi" pattern="[0-9]{10}" required/>
			<span ng-show="myForm.npi.$touched && myForm.npi.$invalid">10 digit NPI number required.</span><br /><br/>
			<div id="address">
				<h4>Business Address*</h4>
				<div class="inline">Address Line 1
				<input type="text" name="addr1" ng-model="user.addr.line1" required/><span ng-show="user.addr.line1.addr1.$touched && user.addr.line1.$invalid">Required.</span></div>
				<div class="inline">Address Line 2 
				<input type="text" ng-model="user.addr.line2" /></div></br>
				<div class="inline">City
				<input type="text" name="city" ng-model="user.addr.city" required/><span ng-show="myForm.city.$touched && myForm.city.$invalid">Required.</span></div>
				<div class="inline">State
				<input type="text" id="state" name="state" ng-model="user.addr.state" required/><span ng-show="myForm.state.$touched && myForm.state.$invalid">Required.</span></div>
				<div class="inline">Zip
				<input type="text" id="zip" name="zip" ng-model="user.addr.zip" required/><span ng-show="myForm.zip.$touched && myForm.zip.$invalid">Required.</span></div>
			</div>
			Telephone Number*<br/>
			<input type="text" name="phone" ng-model="user.phone" required/>
			<span ng-show="myForm.phone.$touched && myForm.phone.$invalid">Required</span><br /><br/>
			Email address*
			<input type="email" name="email" ng-model="user.email" required/>
			<span ng-show="myForm.email.$touched && myForm.email.$invalid">Required</span><br /><br/>
			<br/><br/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
});
</script>
</body>
</html>

